@keyframes slide {
  000% {
    margin: 0 12ch 0 0;
  }
  100% {
    margin: 0 0 0 12ch;
  }
}

.box {
  width: 280px;
  height: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inconsolata", monospace;
  font-size: 28px;
  border: 1px solid #c39f76;
  box-sizing: border-box;
  overflow: hidden;
}

.box:before {
  content: "Hello World Hello World Hello World";
  white-space: nowrap;
  animation: slide 1.5s linear infinite;
}
